if page.comments
    .comments
        if config.duoshuo_shortname
            .ds-thread(data-title=page.title, data-url=page.permalink)
        if config.disqus_shortname
            #disqus_thread
