extends _partial/layout

prepend site_title
    != page.title + " · "

block content
    include _mixin/post
    +categoryPost()
    aside.sidebar
        include _sidebar/tag
        include _sidebar/post